.react-imba-table th.sortable {
  position: relative;
  padding-right: 2.5em;
}

.react-imba-table th.sortable::before, .react-imba-table th.sortable::after {
  position: absolute;
}

.react-imba-table th.sortable::after {
  right: 1.1em;
  content: "\2191";
  color: #aaaaaa;
}

.react-imba-table th.sortable.asc::after {
  color: #000000;
}

.react-imba-table th.sortable::before {
  right: 0.5em;
  content: "\2193";
  color: #aaaaaa;
}

.react-imba-table th.sortable.desc::before {
  color: #000000;
}
